body {
  margin: 0;
  height: 100vh;
  color: #222222;
  font-family: "Euclid Circular A", "Poppins";
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

p {
  position: relative;
  z-index: 0;
  opacity: 0.6;
  line-height: 1.6;
}

section {
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 142px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: inherit;
  cursor: pointer;
  font-weight: 400;
}

nav a.active {
  color: #8f44fd;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

#bubbles {
  --size: 250vw;
}

@media only screen and (min-width: 768px) {
  #bubbles {
    --size: 300vw;
  }
}

.bubbles__first,
.bubbles__second {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 50%;
  translate: -50% 100%;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  animation-timing-function: ease-in-out;
}

.bubbles__first {
  background: #8f44fd;
}

#bubbles.show .bubbles__first {
  animation-name: bubble-move;
}

#bubbles.show .bubbles__second {
  animation-name: bubble-second-move;
}

@keyframes bubble-move {
  20% {
    border-radius: var(--size);
  }
  50%,
  100% {
    translate: -50% 0;
    border-radius: 0;
  }
}

@keyframes bubble-second-move {
  30% {
    translate: -50% 100%;
  }
  50% {
    border-radius: var(--size);
  }
  100% {
    translate: -50% 0;
    border-radius: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 100%;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
